body {
  height: 100%;
  width: 100%;
  --base03: #002b36;
  --base02: #073642;
  --base01: #586e75;
  --base00: #657b83;
  --base0: #839496;
  --base1: #93a1a1;
  --base2: #eee8d5;
  --base3: #fdf6e3;
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;
  background-color: var(--base03);
  color:var(--base0);
  accent-color: var(--base1);
  --curveradius: 5px;
  --scale: 100%;
  font-size: var(--scale);
  --textpadradius: .25em;
  margin:0;
  font-family: sans-serif;
}

body .light-mode, {
  background-color: var(--base3);
  color:var(--base00);
  accent-color: var(--base01);
}

input{
  margin-block-start: 0;
  margin-block-end: 0;
  color: var(--base1);
  caret-color: var(--red);
}

.light-mode input{
  color: var(--base01);
}

textarea {
  resize: none;
}

a,button,input,select,textarea   {
  color: var(--base1);
  background-color: var(--base02);
  font-size: inherit;
}

.light-mode a  ,.light-mode button, .light-mode select, .light-mode textarea, .light-mode input  {
  color: var(--base01);
  background-color: var(--base2);
}

.light-mode {
  background-color: var(--base3);
  color:var(--base01);  
}

.emphasis{
  background-color: var(--base02);
  color: var(--base1);
  border-radius: var(--curveradius);
  padding:2px;
}

.light-mode .emphasis {
  background-color: var(--base2);
  color: var(--base01);
}

.red, .light-mode .red   {
  color: var(--red);
}

.orange, .light-mode .orange {
  color: var(--orange);
}

.yellow, .light-mode .yellow  {
  color: var(--yellow);
}

.green, .light-mode .green  {
  color: var(--green);
}

.cyan, .light-mode .cyan   {
  color: var(--cyan);
}

.blue, .light-mode .blue   {
  color: var(--blue);
}

.violet, .light-mode .violet{
  color: var(--violet);
}

.magenta, .light-mode .magenta   {
  color: var(--magenta);
}

.solar03 {
  color: var(--base03);
}
.light-mode .solar03 {
  color: var(--base3);
}

.solar02 {
  color: var(--base02);
}
.light-mode .solar02 {
  color: var(--base2);
}

.solar01 {
  color: var(--base01);
}
.light-mode .solar01 {
  color: var(--base1);
}

.solar00 {
  color: var(--base00);
}
.light-mode .solar00 {
  color: var(--base0);
}

.solar0 {
  color: var(--base0);
}
.light-mode .solar0 {
  color: var(--base00);
}

.solar1 {
  color: var(--base1);
}
.light-mode .solar1 {
  color: var(--base01);
}

.solar2 {
  color: var(--base2);
}
.light-mode .solar2 {
  color: var(--base02);
}

.solar3 {
  color: var(--base3);
}
.light-mode .solar3 {
  color: var(--base03);
}

.fancy {
  font-variant: small-caps;
}

button {
  display:inline;
  width: 3em;
  font-size: inherit;
}

#maincontainer {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  text-align: center;
}

#controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 0.7em;
  align-items: center;
}


button, select, input {
  border-radius: var(--curveradius);
  border-color: var(--base1);
}

.light-mode button, .light-mode select, .light-mode input {
  border-color: var(--base01);
}

.smol {
  font-size: 0.7em
}

#inputbox, #output {
  padding: var(--textpadradius);
}

#inputbox {
  height:3em;
  font-family: monospace;
}

#output {
  flex: 2 1 auto;
  border-radius: var(--curveradius);
  padding:0;
  /*
  display: flex;
  justify-content: center;*/
  overflow-y: scroll;
  border:0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  width: 100vw;
  --a:0deg;
}

#sparecontainer{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  
}

#scale, #lighttoggle, #sparecontainer{
  border-style: solid;
}

div::-webkit-scrollbar, textarea::-webkit-scrollbar {
  display: none;
}
div, textarea {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 0%;
	}
}

/*this isn't working yet below this line*/
@property --a{
  syntax: '<angle>'; 
  inherits: false;
  initial-value: 0%; 
}



@keyframes spin {
  0% {
    --a: 0deg;
  }
  50% {
    --a: 180deg;
  }
  100% {
    --a: 360deg;
  }
}

